/*
  Calendar
*/
.tt-calendar-month.tt-calendar-container {
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  border: 1px solid #DAE2F5;
  background:#fff;
  min-height: 250px;
  min-width: 320px;
}
.tt-calendar-month > header {
  width:100%;
  height:50px;
  border-bottom:1px solid #ccc;
}
.tt-calendar-month > header > .top-panel {
  position: absolute;
  width: calc(100% - 10px);
  overflow: auto;
  margin: 5px;
}
.tt-calendar-month > header > .top-panel > .date {
  float:left;
  font-size: 18px;
}
.tt-calendar-month > header > .top-panel > .navigation {
  float: right;
}
.tt-calendar-month > header > .top-panel > .navigation button:focus {
  outline: none;
}
.tt-calendar-month > header > .top-panel > .navigation button {
	float: none;
	margin: 0px;
	background: none;
	cursor: pointer;
	border:  none;
}
.tt-calendar-month > header > .top-panel > .navigation button:hover {
	border: none;
}
.tt-calendar-month > header > .day-names-row {
  position:absolute;
  width:100%;
  top:30px;
}
.tt-calendar-month > header > .day-names-row > .day-cell {
  width: calc(14.2857143% - 1px);
  float: left;
  text-align: right;
}
.tt-calendar-month > .body {
 position: absolute;
 height: calc(100% - 51px);
 width:100%;
}
.tt-calendar-month > .body > .week-row {
  position: relative;
  border-top:1px solid #ccc;
  height:calc(16.67% - 1px);
  width:100%;
  overflow: hidden;
}
.tt-calendar-month > .body > .week-row > .week-days {
  height:100%;
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-flex;
	display: flex;
  -webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.tt-calendar-month > .body > .week-row > .week-days .day-cell {
  height:100%;
  width: calc(14.2857143% - 1px);
  position: relative;
  -webkit-flex: 1 1 auto;
	flex: 1 1 auto;
  cursor: default;
}
.tt-calendar-month > .body > .week-row > .week-days .day-cell:not(:first-child) {
  border-left:1px solid #ccc;
}
.tt-calendar-month > .body > .week-row > .week-days > .day-cell.weekend {
  background: rgba(233, 243, 255, 0.5);
}
.tt-calendar-month > .body > .week-row > .week-days > .day-cell.calendar-day-selected {
  background: rgba(128, 207, 249, 0.16);
}
.tt-calendar-month > .body > .week-row > .week-days > .day-cell.calendar-today {
  background: rgba(128, 207, 249, 0.36);
}
.tt-calendar-month > .body > .week-row > .week-days > .day-cell > span.day-number {
  display:block;
  color:#000;
  text-align: right;
  padding:5px;
}
.tt-calendar-month > .body > .week-row > .week-days > .day-cell > span.day-number.out-of-month {
  color: rgba(219, 219, 219, 0.8);
}
.tt-calendar-month > .body > .day-container {
  position: relative;
  height: 160%;
  left:0;
  right:0;
}
.tt-calendar-month > .body > .day-container > .calendar-events {
  top:0;
  height: 100%;
  left: 100px;
  right: 0;
}
.tt-calendar-month > .body > .week-row .event-container {
  position: relative;
  height: calc(100% - 25px);
  top: 25px;
  display: -webkit-flex;
	display: flex;
  -webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
.tt-calendar-month > .body > .week-row .event-container > .event-row {
  position: relative;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.tt-calendar-month > .body .event {
  position: absolute;
}
.tt-calendar-month > .body > .week-row .event {
  background: rgba(255, 0, 0, 0.28);
  text-align: left;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  margin:0px;
  cursor: pointer;
  font-size: 12px;
  height: calc(100% - 8px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tt-calendar-month > .body > .day-container > .calendar-events > .event {
  min-height: 15px;
  background: rgba(255, 0, 0, 0.28);
  text-align: left;
  padding:2px 10px;
  border-radius: 5px;
  margin:0px 2px;
  cursor: pointer;
  font-size: 12px;
}
.tt-calendar-month > .body > .week-row .event.hover {
  background: rgba(255, 0, 0, 0.5);
  color:#fff;
  border: 1px solid rgba(0,0,0,0.5);
}
.tt-calendar-month > .body > .week-row .event.selected {
  background: rgba(255, 0, 0, 0.8);
  color:#fff;
  border: 1px solid rgb(255,0,0);
}
.tt-calendar-month > .body > .week-row .event.continued-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left:2px dotted white;
}
.tt-calendar-month > .body > .week-row .event.continued-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right:2px dotted white;
}

/*
.tt-calendar-month > .body > .day-container > .event.continued-top,
.tt-calendar-month > .body > .day-container > .calendar-events > .event.continued-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top:2px dotted white;
}

.tt-calendar-month > .body > .day-container > .event.continued-bottom,
.tt-calendar-month > .body > .day-container > .calendar-events > .event.continued-bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom:2px dotted white;
}
*/

/* calendar day */
/*
.calendar > .body.calendar-day-view {
    overflow:auto;
}

.calendar > .body > .day-container > .time-bar {
    position: absolute;
    top:0;
    height: 100%;
    width: 80px;
    text-align: left;
    margin-left:10px;
    border-right: 1px solid black;

}

.calendar > .body > .day-container > .time-bar > div {
    height: calc(4.16666667% - 1px);
    font-size:10px;
    border-top: 1px solid #E5E5E5;
}

.calendar-day-view > .scroll-into-view {
    position: absolute;
    bottom:0;
}
*/


/*
  date picker
*/
.tt-date-field, .tt-time-field {
	cursor: pointer;
}
.tt-date-field[disabled], .tt-time-field[disabled] {
	cursor: default;
}
.tt-date-picker.container,
.tt-time-picker.container {
	margin-top: 5px;
  position: absolute;
  z-index: 4;
	background: #FFFFFF;
  border: 1px solid #c5c5c5;
  padding:0px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
.tt-date-picker.container.fixed,
.tt-time-picker.container.fixed {
  position: fixed;
}
.tt-time-picker.container {
	height: 300px;
	width: 120px;
}
.tt-date-picker .header {
	width:100%;
  height:60px;
  border-bottom:1px solid #ccc;
	cursor: default;
}
.tt-date-picker .day-letters {
	background: rgba(235, 242, 255, 0.5);
}
.tt-date-picker .header > .top-panel {
  position: absolute;
	width: 100%;
  overflow: visible;
	height:60px;
	text-align: center;
}
.tt-date-picker .header > .top-panel > .date {
  text-align: left;
	float:left;
  font-size:18px;
	position: absolute;
	top: 5px;
	left:5px;
	width: calc(100% - 40px);
}
.tt-date-picker .header > .top-panel > .navigation {
	margin-top: 35px;
}
.tt-date-picker .header > .top-panel > .navigation button {
	float: none;
	margin: 0px;
	background: none;
	cursor: pointer;
	border:  none;
}
.tt-date-picker .header > .top-panel > .navigation button:hover {
	border: none;
}
.tt-date-picker .header > .top-panel > .navigation button:focus {
  outline: none;
}
.tt-date-picker.container .close-button,
.tt-time-picker.container .close-button {
    position:absolute;
    top:5px;
    right:5px;
    width:22px;
    height:22px;
}
.tt-date-picker.container table {
    border-spacing: 0px;
    font-family: arial;
    width: 100%;
}
.tt-date-picker.container > .range-select {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: height 0.1s;
  overflow: hidden;
}
.tt-date-picker.container > .range-select.display-months,
.tt-date-picker.container > .range-select.display-years {
  height: 100%;
}
.tt-date-picker.container > .range-select > table {
  height: calc(100% - 60px);
}
.tt-date-picker.container > .range-select > table > tbody.month-list {
  text-align: center;
}
.tt-date-picker.container > table > .date-picker-select, .tt-date-picker.container > table > .days {
	background-color: rgb(255,255,255);
}
.tt-date-picker.container > table td,
.tt-time-picker .time-select ul > li {
    padding: 10px;
    cursor: default;
}
.tt-date-picker.container > table td.day,
.tt-time-picker .time-select ul > li.day {
    cursor: pointer;
}
.tt-date-picker.container > table td.day {
	text-align: right;
}
.tt-date-picker.container > table td.day.weekend {
    background: rgba(235, 242, 255, 0.5);
}
.tt-date-picker.container > table td.day.today {
    color:#fff;
    background: rgba(14, 61, 145, 0.24);
}
.tt-date-picker.container table td {
  transition: background 0.1s;
  border-radius: 2px;
}
.tt-date-picker.container > table td.day.day-selected,
.tt-time-picker .time-select ul > li.time-selected {
    color:#ffffff;
    background: rgba(56, 88, 255, 0.81);
}
.tt-date-picker.container .range-select table td.month-selected,
.tt-date-picker.container .range-select table td.year-selected {
    color:#ffffff;
    background: rgba(147, 152, 175, 0.8);
}
.tt-date-picker.container > table td.day:hover,
.tt-date-picker.container .range-select table td.option:hover,
.tt-time-picker .time-select ul > li:hover {
  background: rgba(139, 171, 242, 1);
	color: #fff;
}
.tt-date-picker.container .month-select {
  z-index: 2;
}
.tt-date-picker.container .year-select {
  z-index: 3;
}
.tt-date-picker.container .range-select .header {
  background: #fff;
  height: 60px;
}
.tt-date-picker.container .range-select table td {
  border-radius: 4px;
  border: 1px solid #fdfdfd;
  cursor: default;
}
.tt-date-picker.container .range-select table td.option {
  transition: background 0.1s, border 0.1s;
  cursor: pointer;
}
.tt-date-picker.container .range-select table td.option:hover {
  border: 1px solid #f1f1f1;
}
.tt-date-picker.container > table tr.day-letters {
  cursor: default;
}
.tt-date-picker.container .out-of-range {
	color: rgba(0, 0, 0, 0.5);
}
.tt-time-picker.container > .header {
	height: 35px;
	border-bottom:1px solid #ccc;
}
.tt-time-picker .time-select {
	height: calc(100% - 50px);
	overflow-y: scroll;
}
.tt-time-picker .time-select ul {
	margin:0px;
	padding: 0px;
}
.tt-time-picker .time-select ul > li {
	margin:0px;
	list-style: none;
	vertical-align: middle;
	cursor: pointer;
  font-size: 14px;
}
