body {
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  padding: 20px;
}
p {
  line-height: 1.5;
  vertical-align: baseline;
}
p.version {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  margin: 10px;
  padding: 0px;
}
header.ember-time-tools {
  background: #333;
  color: #ddd;
  font-family: sans-serif;
  height: 500px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header.ember-time-tools h2 {
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  max-width: 1000px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px rgba(222, 231, 247, 0.3);
  vertical-align: middle;
}
header.ember-time-tools .clock-face {
  vertical-align: middle;
  margin-right: 30px;
  /*margin-left: 100px;*/
}
.body.ember-time-tools {
  margin-top: 550px;
}
code {
  color: #333;
  background: rgba(0,0,0,0.04);
  padding: 3px;
  border-radius: 5px;
}
div.panel.code code {
  background: none;
}
div.panel.code {
  margin: 30px;
  padding: 0;
  /*padding: 10px 20px;*/
  background: #F8F8F8;
  box-shadow: 0px 1px 2px #888888 inset;
}
.dashboard-calendar {
  position: relative;
  max-width: 500px;
  height: 300px;
  /*margin: 10px;*/
}
.calendar-container {
  position: relative;
  width: 100%;
  height: 500px;
  /*margin: 10px;*/
}
.date-picker-container,
.time-picker-container {
  height: 350px;
}
li > hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 1em 0;
  padding: 0;
  width: 70%;
}
.time-interval-example input[type="number"] {
  margin-bottom: 10px;
}
