<header>
  {{uic-close-button action="close"}}
</header>
<div class="time-select">
  <ul>
    {{#each times as |time|}}
      <li class="{{if (compare-json _selectedTime time) 'time-selected'}}" {{action "selectTime" time}} >
        {{format-date time displayFormat}}
      </li>
    {{/each}}
  </ul>
</div>
