<div class="header">
  {{uic-close-button action="close"}}
</div>
<div class="time-select">
  <ul>
    {{#each times as |time|}}
      {{tt-time-slot model=time timeSelected=selectedTime select="selectTime"}}
    {{/each}}
  </ul>
</div>
