<p class="version">{{version}}</p>
<h2 id="title">ember-time-tools</h2>

<nav>
  <ul>
    <li>{{#link-to 'index'}}Index{{/link-to}}</li>
  </ul>

  <ul>
    <li>{{#link-to 'date-picker'}}DatePicker{{/link-to}}</li>
    <li>{{#link-to 'time-picker'}}TimePicker{{/link-to}}</li>
    <li>{{#link-to 'calendar'}}Calendar{{/link-to}}</li>
  </ul>

  <ul>
    <li>{{#link-to 'input-date'}}InputDate{{/link-to}}</li>
    <li>{{#link-to 'input-time'}}InputTime{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
