<p>
  This Ember-cli addon provides date and time related tools for Ember applications.
  The primary components consist of a date-Picker, a time-picker and a calendar.
</p>

<h3>Install</h3>
<p>
  The package can be installed from <a href="https://www.npmjs.com/package/ember-time-tools" class="npm-link" target="_blank">npm</a>.
</p>

<div class="panel code">
  <pre><code>ember install ember-time-tools</code></pre>
</div>

<h3>Source code</h3>
<p>
  The source code can be found on <a href="https://github.com/lozjackson/ember-time-tools" class="github-link" target="_blank">Github</a>.
</p>

<h3>Date Picker</h3>

{{input-date}}

<h3>Time Picker</h3>

{{input-time}}

<h3>Calendar</h3>

<div class="dashboard-calendar">
  {{calendar-month}}
</div>
